@import 'styles.css';
@import 'form.css';

@media (min-width: 640px) {
    #wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1rem;
        > section {
            flex: 1 0 auto;
        }
    }
}

#contact_info {
    margin-bottom: 1rem;
}

address {
    font-style: normal;

    #physical_address {
        margin-bottom: 1rem;
    }
}