@import 'styles.css';
@import 'pills.css';

img#mealPicture {
    width: 100%;
}

div:has(.pill), #ingredients {
    margin-bottom: 1rem;
}

ul {
    margin-left: 1rem;
}

iframe#recipeVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
}